<h1>Pick a new pirate!</h1>

<form method="POST" action="/pirates">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="birthplace">Birthplace</label>
        <input type="text" name="birthplace">
    </div>
    <div>
        <label for="deathyear">Deathyear</label>
        <input type="text" name="deathyear">
    </div>
    <div>
        <label for="base">base</label>
        <input type="text" name="base">
    </div>
    <div>
        <label for="nickname">nickname</label>
        <input type="text" name="nickname">
    </div>

    <button>Submit</button>
</form>